
/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
}

.content-area {
	// min-height: 500px;
	width: 90%;
	max-width: 1640px;
	margin: 0 auto;
}

.contact-block {
	background-color: $color-main;
	// border: 1px solid grey;
	// padding-left: 0 !important;
	// padding-right: 0 !important;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px #ff00004f;

	.contact-header {
		text-align: center;
		// background-color: $color-main;
		color: white;
		padding: 10px;
		width: fit-content;
		font-family: Mulish;
		text-transform: uppercase;
	}

	.no-bullets ul {
		padding-left: 1rem;
		font-size: 20px;
		border-bottom: 1px solid;
		margin-bottom: 0px;
	}
}

.no-bullets {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

.zalo-icon {
	width: 20px;
	margin-right: 0px;
}

.product-block {
	// background-image: url("https://thepgiadat.com/wp-content/uploads/2021/12/steel-structure.jpg");
}

.store-callout {
	display: flex;
	padding: 15px 0 15px 15px;
}

.store-callout.large .store-callout-image {
    flex-basis: 50%;
}

.store-callout.large .store-callout-image img {
	height: 167px;
}


.store-callout.large .store-callout-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding-left: 15px;
	color: white;
}

.store-callout.small .store-callout-image {
    flex-basis: 50%;
}

.store-callout-small {
    flex-direction: column;
    display: flex;
    color: white;
    padding-bottom: 15px;
	// background: $color-main;
	padding-left: 13px !important;
	padding-right: 13px !important;
}

a.more-btn-wrapper {
	text-decoration: none;
	display: block;
	width: fit-content;
	letter-spacing: 1px;

	&:hover {
		text-decoration: none;
	}
}

.more-btn {
	border: 2px solid #2658ce;
	color: white;
	display: block;
	padding: 3px 18px;
	font-size: 15px;
	border-radius: 5px;

	&:hover {
		background: #2658ce;
		color: yellow;
	}
}

.noUnderline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.store-callout-content {
    background: #502f32;
	color: white;
    padding-bottom: 10px;
	padding-top: 5px;
	text-transform: uppercase;
	font-family: Mulish;
	font-size: 16px;
	text-align: center;

	&:hover {
		background: #2658ce;
		color: yellow;
	}
}

.store-callout-description {
	font-size: 13px;
	padding: 5px 0;
	text-transform: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.store-picture-title {
	background: black;
	padding: 10px;
	color: white;
}

#sticky-sidebar {
	ul {
		font-size: 18px;
		padding-left: 0;
		text-align: center;
		border-bottom: 1px solid grey;
	}

	.contact-header {
		text-align: center;
		background: black;
		color: white;
	}

	border: 1px solid grey;
}

.float-contact {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99999;
	display: flex;
	flex-direction: column;
}

.chat-zalo {
	background: #125c9e;
	border-radius: 20px;
	padding: 5px 10px;
	color: white;
	display: block;
	margin-bottom: 6px;
}

.chat-face {
	background: #125c9e;
	border-radius: 20px;
	padding: 5px 10px;
	color: white;
	display: block;
	margin-bottom: 6px;
}

.float-contact .hotline {
	background: #d11a59!important;
	border-radius: 20px;
	padding: 5px 10px;
	color: white;
	display: block;
	margin-bottom: 6px;
}

.chat-zalo a, .chat-face a, .hotline a {
	color: white;
	font-weight: 400;
	text-decoration: none !important;
}

.float-contact-btn-wrapper {
	display: flex;
	font-size: 15px;
}

@media (max-width: 549px){
	.float-contact{
		display:none
	}
}

.bg-black {
	background: $color-main;
}

.normal-header {
	color: white;
	text-align: center;
	padding: 10px;
	font-family: Mulish;
	text-transform: uppercase;
}

.normal-sub-header {
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	font-family: Anton;
	letter-spacing: 1px;
}

.anton-text {
	font-family: Anton;
	letter-spacing: 1px;
}

.fs-20 {
	font-size: 20px;
}

.contact-form {
	input, textarea {
		max-width: 100% !important;
	}

	div.wpforms-container-full {
		margin-bottom: 5px !important;
	}

	.wpforms-submit-container {
		padding-top: 0 !important;
		button {
			padding: 5px 10px;
		}
	}
}

ul.rl-gallery {
	display: flex !important;
	justify-content: space-between;
}

h2.wp-block-post-title {
	font-size: 1.5rem;
}

h2.wp-block-post-title::before {
	display: none !important;
}

.entry .entry-title::before {
	display: none !important;
}

.project-text {
	background: #502f32;
	text-align: center;

	.project-link {
		text-decoration: none;
		color: white;
		font-family: Anton;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 5px 0;
		display: block;
		width: 100%;
	}

	.project-link:hover {
		text-decoration: underline;
		color: yellow;
		background: blue;
	}

	.project-link:visited {
		color: white;
	}
}

.bct {
	margin-top: 15px;
	margin-left: 80px;
	img {
		width: 6rem;
	}
}

.store-picture-slider {
	// background: $color-main;
	padding-bottom: 15px;
}

.t-black {
	color: black;
}

.rightbar-box {
	border: 4px solid red;
	border-radius: 5px;
	overflow: hidden;
}

.product-box {
	border: 1px solid brown;
	border-radius: 0 20% 0 0;
	overflow: hidden;
	box-shadow: 12px 6px #7b20205e;
}

.project-box {
	border: 2px solid #502f32;
box-shadow: 12px 6px #502f328c;
}

.btn-sss {
	&:hover {
		transform: scale(1.1);
	}
}

// .wp-block-media-text.alignwide.is-stacked-on-mobile {
//     margin-bottom: 15px;
//     border: 3px solid brown;
//     height: 150px;
//     border-radius: 8px;
//     padding: 0px 0px 0px 10px;
//     overflow: hidden;
// }

.wpbsearchform {
	position: absolute;
	right: 0px;
	z-index: 100;
}

.searchBox {
	background-color: red;
	border: 5px solid #f90b0b;
	border-radius: 5px;
	box-shadow: 3px 3px #956a6a;
	display: flex;
}

#searchBtn {
	background: red;
	color: white;
	width: 100px;
}

#searchField {
	width: 300px;
}

.lb-product {
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.menu-dropdown {
	font-weight: 700;
	color: red;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: 'Mulish';
	&:hover {
		color: red;
		border-bottom: 2px solid red;
		text-decoration: none;
	}
}

.dropdown-item.menu-dropdown-item {
	padding: 10px 15px;
	text-transform: uppercase;
}